.heart{
    width: 150px;
    aspect-ratio: 1/1;
    border-image: radial-gradient(red 69%, green 0%)
     84.5%/50%;
    clip-path: polygon(-40% 0%, 50% 91%, 140% 0%);
    top: -100%;
    transition: 0.95s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: -20px;
    animation: zoom 1s infinite;

    position: fixed;
}

.heart.active{
    top: 0
}

@keyframes zoom{
   0%{
   transform: scale(1);
   
   }

   50%{
   transform: scale(1.2);
  }

  100%{
    transform: scale(1);
  }
}

.container{
    height: 300px;
    width: 500px;
    max-width: 400px;
    margin: auto;
    /* margin-top: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p{
    color: #fff;
}

.love{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    position: relative;
    top: -50px;
    left: 510px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
}

.container h2{
    font-size: 200px;
    font-size: 22px;
    top: -100%;
    position: fixed;
    transition: 0.55s linear;
    margin-top: 120px;
    margin-left: -250px;
}

.container h1{
    font-size: 60px;
    margin-left: 250px;
}


.i.active{
    top: 0;
    font-size: 60px;
    color: #000;
}

.you{
    font-size: 22px;
    color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: bounce 1s infinite;
}

.display{
    outline: none;
}

#textarea{
    margin-top: 30px;
}

.counterContainer{
    display: flex;
    gap: 30px;
}



@keyframes bounce{
    0%{
        position: relative;
        top: 20px;
        /* transform: scale(1); */
    }

    50%{
        position: relative;
        left: 10px;
        /* transform: scale(1.2); */
    }

    100%{
        position: relative;
        right: 10px;
        /* transform: scale(1); */
    }
}


.container.active{
    background-color: #000;
}

body{
    background-color: #fff;
}

body.active{
    background-color: #000;
}

.dark{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 900px){
    .container{
        width: 400px;
        flex-direction: column;
        max-width: 400px;
    }

    .love{
        left: 120px;
    }

    .container h1{
        margin-left: 260px;
    }

    .container h2{
        margin-left: -300px;
    }

    .heart{
        margin-left: -50px;
        width: 90px;
    }
}